<h1>Admin Show Page </h1>
<ul>
  <p><%= link_to "Create new category", new_admin_category_path %></p>
  <p><%= link_to "See all categories", admin_categories_path %></p>
  <p><%= link_to "See all users", admin_user_path %></p>
  <p>Create an image</p>
  <p>See all images</p>
</ul>
